<h1>Company <%= @company.name %> </h1>
<%= link_to 'edit company', edit_company_path(@company) %>
<%= link_to t('.delete'), product_path(@product), data:{
    turbo_method: :delete,
    turbo_confirm: 'Are you sure?'
} %>