<div class="menu-bg">
    <div class="menu-burger">☰</div>

    <div class="menu-items">
       <div class="container">
         <div class="row">
           <div class="col-md-offset-2 col-md-4 col-sm-6">
            <h1>Navigations</h1>
             <ul class="menu">
                <li><%= link_to 'Checker', root_path %></li>
                <li><%= link_to 'Login Admin', admin_index_path if session[:admin_id].nil? %></li>
                <li><%= link_to 'See reports', admin_report_path unless session[:admin_id].nil? %></li>
            </ul>
           </div>
           <div class="col-md-12 col-sm-12">
             <ul class="social-icon">
              <li class="line"></li>
               <li><a href="https://fb.com/templatemo" class="fa fa-facebook"></a></li>
               <li><a href="#" class="fa fa-twitter"></a></li>
               <li><a href="https://plus.google.com/+templatemo" class="fa fa-google"></a></li>
               <li><a href="#" class="fa fa-instagram"></a></li>
             </ul>
           </div>
         </div>
       </div>
    </div>
</div>