<ul  data-controller="clock" class="countdown" style="background-color:black; border-radius: 10px;">
    <li>
        <span class="hours" data-clock-target="hours">00</span>
        <h3>hours</h3>
    </li>
    <li>
        <span class="minutes" data-clock-target="minutes">00</span>
        <h3>minutes</h3>
    </li>
    <li>
        <span class="seconds" data-clock-target="seconds">00</span>
        <h3>seconds</h3>
    </li>
  </ul>


<div class="subscribe-form">
  <%= form_with url:'/', method: 'post' do |form| %>
    <div>
      <%= form.label :id_employee, class: 'form-label'%>
      <br>
      <%= form.text_field :id_employee, class: 'form-control', placeholder:'Enter id employee'%>
    </div>
    <%= button_tag type: 'submit',class: "btn btn-secondary", id: "id_employee" do %>
      Check
      <span>
        <i class="fa-sharp fa-solid fa-door-open"></i>
      </span>
    <% end %>
  <% end %>
</div>