<h1>
  We are getting ready
  <br>to launch new CREATIVE site!
</h1>
<ul class="countdown">
    <li>
        <span class="hours">10</span>
        <h3>hours</h3>
    </li>
    <li>
        <span class="minutes">15</span>
        <h3>minutes</h3>
    </li>
    <li>
        <span class="seconds">34</span>
        <h3>seconds</h3>
    </li>
  </ul>


<div class="subscribe-form">
  <%= form_with url:'/', method: 'post' do |form| %>
    <div>
      <%= form.label :id_employee, 'Enter id employee'%>
      <br>
      <%= form.text_field :id_employee %>
    </div>
    <%= button_tag type: 'submit', id: "id_employee" do %>
      Check
      <span>
        <i class="fa-sharp fa-solid fa-door-open"></i>
      </span>
    <% end %>
  <% end %>
</div>